*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: solid 1px black;
}